<div>
  <%= post.id %><br><br>
</div>
<div class="col-span-4">
  <%= post.title %><br><br><br><br>
</div>
<div class="col-span-7">
  <%= post.body %><br><br>
</div>
<div>
  <%= post.id %><br><br><br><br>
</div>
<div class="col-span-4">
  <%= post.title %><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="col-span-7">
  <%= post.body %><br><br><br><br>
</div>
<div>
  <%= post.id %><br><br><br><br>
</div>
<div class="col-span-4">
  <%= post.title %><br><br><br><br>
</div>
<div class="col-span-7">
  <%= post.body %><br><br><br><br>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>